.content-body{
  margin-top: 60px;
  padding: 0%;
  position: relative;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  height: 100%;
}

.userbody{
  /* height: 300px; */
  width: 100%;
  height: 100%;
  padding: 1em;
  text-align: center;
  color: aliceblue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 0.25em;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 black;
}

.profilepic{
  width: 100px;
  border-radius: 30px;
  float: left;
  border-style:groove;
  border-color: aliceblue;
}
